 * {
	box-sizing: border-box;
} 
body {
	font-family: Arial, Courier, sans-serif;
	<-- background-image: url("jN2GXp.jpg"); -->
	background-repeat: no-repeat;
	margin: 0px;
}
h1 {
	color:grey;
	font-family:Arial;
}
.header {
	height: 300px;
	background-image: url("programmer.jpg");
	background-attachment: fixed;
	font-style: oblique;
	font-variant: small-caps;
	padding: 100px;
}
.header h1 {
	font-size: 35px;
}
.navbar {
	overflow: hidden;
	background-color:  #e6e6e6;
}
.navbar a {
	float: left;
	display: block;
	color: #000066;
	text-align: center;
	padding:14px 20px;
	text-decoration: none;
}
.navbar a.right {
	float:right;
}
.navbar a:hover {
	background-color: #777;
}
.row {
	display:flex;
	flex-wrap:wrap;
}
.side {
	flex: 30%;
	border-top: solid #000066;
	border-right: solid #000066;
	border-bottom: solid #000066;
	background-color: #d6ffff;
	padding: 20px;
}
.main {
	border-top: solid #000066;
	background-color: #f3ffe6;
	flex:70%;
	border-bottom: solid #000066;
	padding: 20px;
}
ul li {
  background: #d6ffff;
  padding: 5px;
  margin-left: 35px;
}
